// -----------------------------------------------------------------------------
// This file contains app-wide colors.
// -----------------------------------------------------------------------------

/* Light Grey */
$p-color: #666666;

/* Dark Grey */
$h2-color: #020609;

/* Light Grey */
$h4-color: darken(#97A0A4, 20%);

/* Medium Grey */
$dark-bg: #232229;

/* Blue */
$link-color: #4090FE;

/* Red */
$link-hover-color: #FF3660;
